/* Coolors Exported Palette - coolors.co/757780-d2cca1-387780-dbd4d3-e83151 */

/* HSL */
/*$color1: hsla(229%, 4%, 48%, 1);*/
/*$color2: hsla(53%, 35%, 73%, 1);*/
/*$color3: hsla(188%, 39%, 36%, 1);*/
/*$color4: hsla(8%, 10%, 84%, 1);*/
/*$color5: hsla(350%, 80%, 55%, 1);*/

/* RGB */
$color1: rgba(117, 119, 128, 1);
$color2: rgba(210, 204, 161, 1);
$color3: rgba(56, 119, 128, 1);
$color4: rgba(219, 212, 211, 1);
$color5: rgba(232, 49, 81, 1);
